.swapButton {
    margin-top: 1em;
    height: fit-content;
    width: fit-content;
    transition: transform 1s ease-in-out;
    transform-origin: 50% 50%;
}

.swapButton:hover {
    transform: rotate(180deg);
}